**/bin/
**/obj/
**/out/

**/TestResults/
**/coverage/
**/BenchmarkDotNet.Artifacts/

*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

.vs/
.vscode/
.idea/
*.swp
*.DS_Store

**/node_modules/
**/wwwroot/dist/
**/wwwroot/build/

*.log
*.tmp
*.bak
*.nlog

.env
secrets.json
appsettings.Development.json
appsettings.Local.json
appsettings.Debug.json

publish/
artifacts/
dist/
tests/

docker-compose*
Dockerfile*

*.coverage
*.cov
*.tlog
*.trx
*.coveragexml

Thumbs.db
desktop.ini
