<mat-card>
  <mat-card-header>{{ readonly ? 'Aplikacja' : 'Aplikuj' }} </mat-card-header>
  <mat-card-content>
    <form #applicationForm="ngForm" class="flex flex-col py-3" (ngSubmit)="applyForOffer()">
      <div class="grid-cols-2 grid gap-x-8">
        @if (!readonly) {
          <mat-form-field>
            <mat-label> Kwota (PLN) </mat-label>
            <input
              name="amount"
              [(ngModel)]="amount"
              type="number"
              matInput
              required
              min="0"
              step="1000"
              (change)="outputChangedOfferConditions()"
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label> Okres spłaty (Miesiące) </mat-label>
            <input name="duration" [(ngModel)]="duration" type="number" matInput required min="0" />
          </mat-form-field>
        }
        <mat-form-field>
          <mat-label> Miesięczny dochód (PLN) </mat-label>
          <input
            name="monthly-income"
            [(ngModel)]="monthlyIncome"
            type="number"
            matInput
            min="0"
            step="100"
            [required]="true"
            (change)="outputChangedOfferConditions()"
            [readonly]="readonly"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label> Miesięczne koszty (PLN) </mat-label>
          <input
            name="monthly-costs"
            [(ngModel)]="monthlyCosts"
            type="number"
            matInput
            min="0"
            [max]="monthlyIncome"
            step="100"
            [required]="true"
            (change)="outputChangedOfferConditions()"
            [readonly]="readonly"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label> Wiek </mat-label>
          <input
            name="age"
            [(ngModel)]="age"
            type="number"
            matInput
            min="0"
            max="150"
            [required]="true"
            (change)="outputChangedOfferConditions()"
            [readonly]="readonly"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label> Osoby na utrzymaniu </mat-label>
          <input
            name="dependants"
            [(ngModel)]="dependants"
            type="number"
            matInput
            min="0"
            [required]="true"
            (change)="outputChangedOfferConditions()"
            [readonly]="readonly"
          />
        </mat-form-field>
      </div>
      <mat-divider class="bg-[#1e3a5f]!" />
      <div class="text-white font-bold mb-4">Dane osobowe:</div>
      <div class="grid-cols-2 grid gap-x-8">
        <mat-form-field>
          <mat-label> Imię </mat-label>
          <input
            name="name"
            [(ngModel)]="name"
            type="text"
            matInput
            [required]="true"
            [readonly]="readonly"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label> Nazwisko </mat-label>
          <input
            name="surname"
            [(ngModel)]="surname"
            type="text"
            matInput
            [required]="true"
            [readonly]="readonly"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label> E-mail </mat-label>
          <input
            name="email"
            [(ngModel)]="email"
            type="email"
            matInput
            [required]="true"
            [readonly]="readonly"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label> Adres </mat-label>
          <input
            name="address"
            [(ngModel)]="address"
            type="text"
            matInput
            [required]="true"
            [readonly]="readonly"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label> Nr telefonu </mat-label>
          <input
            name="phone"
            [(ngModel)]="phoneNumber"
            type="tel"
            matInput
            [required]="true"
            [readonly]="readonly"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label> Zawód </mat-label>
          <input
            name="job"
            [(ngModel)]="job"
            type="text"
            matInput
            [required]="true"
            [readonly]="readonly"
          />
        </mat-form-field>
      </div>
      @if (!readonly) {
        <button matButton="elevated" type="submit" [disabled]="!applicationForm.valid">
          Aplikuj
        </button>
      }
    </form>
  </mat-card-content>
</mat-card>
